@import "_mixins"

.footer
  background: #000
  color: #fff

  flex-set row nowrap
  flex-content-position center center
  text-align center
  min-height: 100px
  background: url('../img/bg-linesBox.webp') no-repeat center / cover

  &__body
    background #000
    margin: 10px 0 0 0
    padding: 40px 20% 40px 20%
    a
      color: #fff

  &-text
    padding: 10px 0 10px 0
