html {
  --main-font-color: #000;
  --main-font-family: Roboto-med;
  --bg: #fff;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::focus,
::active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible {
  outline: 0;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

address {
  font-style: normal;
}

.header {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 15;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-box-shadow: 0 4px 5px rgba(0,0,0,0.3);
          box-shadow: 0 4px 5px rgba(0,0,0,0.3);
}

.header:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 4;
  background: #fff;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 10px 0;
}

.header__body * {
  z-index: 5;
}

.header__body .burger-btn {
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.fullscreen-navmenu {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 4;
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background: rgba(0,0,0,0.678);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.fullscreen-navmenu.active {
  right: 0;
}

.fullscreen-navmenu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  overflow: auto;
}

.fullscreen-navmenu__body ul {
  margin: 0 auto;
  width: 100%;
}

.fullscreen-navmenu__body ul li {
  border-bottom: 1px solid #fff;
}

.fullscreen-navmenu__body ul li:last-child {
  border: none;
}

.fullscreen-navmenu__body ul li:hover,
.fullscreen-navmenu__body ul li:focus {
  color: #beafaf;
}

.fullscreen-navmenu__body ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0 25px 0;
  color: #fff;
}

.burger-btn {
  z-index: 5;
  display: block;
  cursor: pointer;
}

.burger-btn__svg * {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.burger-btn__rect-top {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.burger-btn__rect-center,
.burger-btn__rect-bottom {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.burger-btn.active .burger-btn__rect-top {
  -webkit-transform: rotate(45deg) translate(-5%,50%);
      -ms-transform: rotate(45deg) translate(-5%,50%);
          transform: rotate(45deg) translate(-5%,50%);
}

.burger-btn.active .burger-btn__rect-center {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  height: 0;
}

.burger-btn.active .burger-btn__rect-bottom {
  -webkit-transform: rotate(-45deg) translate(-5%,-50%);
      -ms-transform: rotate(-45deg) translate(-5%,-50%);
          transform: rotate(-45deg) translate(-5%,-50%);
}

.logo {
  z-index: 100;
}

.logo img {
  height: 100%;
}

.footer {
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 100px;
  background: url("../img/bg-linesBox.webp") no-repeat center/cover;
}

.footer__body {
  background: #000;
  margin: 10px 0 0 0;
  padding: 40px 20% 40px 20%;
}

.footer__body a {
  color: #fff;
}

.footer-text {
  padding: 10px 0 10px 0;
}

@font-face {
  font-family: 'Roboto-bl';
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: '900';
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-b';
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: '700';
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-med';
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: '500';
  font-style: normal;
}

.container {
  margin: auto;
}

.adaptive-image {
  display: block;
  position: relative;
  padding: 0 0 100% 0;
}

.adaptive-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  height: 100%;
  color: var(--main-font-color);
  font: 12px var(--main-font-family);
}

body.scroll-block {
  overflow: hidden;
}

body button {
  font-family: var(--main-font-family);
  color: var(--main-font-color);
}

.main {
  padding: 60px 0 0 0;
  width: 100%;
}

.main__body {
  background: var(--bg);
}

.main__body >* {
  margin: 0 0 20px 0;
}

.greetings__body {
  text-align: right;
  position: relative;
  padding: 20px 0 0 0;
}

.greetings__content {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0,-50%);
      -ms-transform: translate(0,-50%);
          transform: translate(0,-50%);
}

.greetings__content >*:not(:last-child) {
  margin-bottom: 8px;
}

.greetings__bg-img {
  width: 80%;
}

.greetings .logo {
  display: inline-block;
}

.colored-block {
  background: #ff9330;
  padding: 3px 5px 3px 5px;
}

.section-title {
  text-transform: uppercase;
  font-family: Roboto-bl;
  font-size: 20px;
  color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 0 0 20px 0;
}

.section-title:before {
  background: #909090;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  content: '';
}

.section-title h2 {
  padding: 8px 40px 8px 40px;
  background: #000;
  word-break: break-word;
}

.section-title_left:before {
  display: none;
}

.section-title_left:after {
  background: #909090;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  content: '';
}

.arrows-block {
  background: url("../img/bg-shadowArrow.png") repeat;
  margin: 10px 10px 10px 10px;
  min-width: 38px;
}

.arrows-block_free {
  height: 50px;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding: 15px 0 15px 0;
}

.offer_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
}

.offer_right .product-block {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.offer_right .product-block:after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.offer_right .product-block .offer__title {
  margin: 0 0 0 auto;
}

.offer__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.offer__body:after {
  background: #fbfbfb;
}

.offer__title {
  display: inline-block;
  font-family: Roboto-b;
  font-size: 15px;
  padding: 20px 0 3px 0;
  margin: 0 auto 0 0;
}

.offer__collab-brand-imgcontainer {
  position: relative;
}

.offer__collab-brand-imgcontainer img {
  width: 100%;
  height: 100%;
}

.offer__collab-brand-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  z-index: -1 !important;
}

.product-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 5px 20px 5px 20px;
  min-height: 300px;
}

.product-block * {
  z-index: 2;
}

.product-block:after {
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.2);
          box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  z-index: 1;
  content: '';
}

.product-block_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.product-block_container .product-block {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.product-block_container .product-block:after {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.product-block_container_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
}

.product-block_container_right .product-block {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.product-block_container_right .product-block:after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.collection {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0 15px 0;
}

.collection__body {
  padding: 20px 20px 20px 20px;
}

.collection__body:after {
  background: #ebf5ed;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.collection__photo-container {
  position: relative;
}

.collection__photo-container:after {
  position: absolute;
  bottom: -2%;
  left: 50%;
  -webkit-transform: translate(-50%,0);
      -ms-transform: translate(-50%,0);
          transform: translate(-50%,0);
  z-index: 2;
  height: 7px;
  width: 55%;
  background: #000;
  content: '';
}

.collection .collection__image {
  position: relative;
}

.collection__title-block {
  padding: 20px 20px 20px 20px;
  text-align: center;
  position: relative;
  font-family: Roboto-b;
  font-size: 20px;
  background: url("../img/bg-linesBox.jpg") no-repeat center/cover;
}

.collection__title {
  position: relative;
  z-index: 3;
  display: inline-block;
  color: #fff;
  background: #000;
  padding: 40px 8px 40px 8px;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  text-transform: uppercase;
}

.collection__title_reverse {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width:425px) {
  .container {
    width: 70%;
  }
}

@media (min-width:600px) {
  .fullscreen-navmenu {
    display: none;
  }

  .burger-btn {
    display: none;
  }
}

@media (min-width:768px) {
  html {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html ::-webkit-scrollbar {
    width: 0;
  }
}

@media (max-width:425px) {
  .container {
    width: 95%;
  }
}

@media (min-width:768px) and (max-width:425px) {
  .container {
    width: 70%;
  }
}

@media (min-width:426px) and (max-width:768px) {
  .container {
    width: 80%;
  }
}